/* Globales */
html, body {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: #79786f;
    padding: 0;
    margin: 0;
}
a {
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    color: #000000;
    font-size: 3rem;

}
h1,
h2,
h3 {
    line-height: 1.2;
    color: #fcfcfc;
    font-family: 'Bitter', serif;
    text-transform: uppercase;
}
h1 {
    font-size: 4.8rem;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
.container {
    display: grid;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}


.container_box button {
    width: 10rem;
    height: 10rem;
    margin: 1rem;
}
.equis::before {
    display: block;
    content: "X";
    font-size: 10rem;
    color: black;
    text-align: center;
}
.circulo::before {
    display: block;
    content: "O";
    font-size: 10rem;
    color: white;
    text-align: center;
}
.vacio::before {
    content: '';
}
.contenedor-notificacion {
    position: relative;
}

.notificacion {
    width: 100vw;
    height: 10rem;
    margin-top: 2rem;
    position: absolute;
    top: -332px;
}

button {
    width: 20rem;
    height: 8rem;
    border-radius: 5px;
    font-size: 2.5rem;
}

.reiniciar {
    background-color: rgb(219, 97, 49);
}
.automatico {
    background-color: rgb(119, 173, 19);
}
.maquina {
    background-color: rgb(204, 175, 46);
    
}
#time {
    font-size: 3rem;
    
}

@media (min-width:768px) {
    #time {
        font-size: 5rem;
    }
}



@media (min-width:768px) {
    .dp-flex {
        display: flex;
        justify-content: space-between;
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;
    }
}

.puntacion { 
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
    background-color: rgba(219, 97, 49, 0.781);
    border: 2px solid rgb(119, 173, 19);
    border-radius: 2%;
}
.puntacion p:first-child {
    font-size: 3rem;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin-top: 0;
}
.showWinner {
    top: -33px;
    transition: all .3s ease;
}
#ganador {
    font-size: 4rem;
    text-align: center;
    margin-top: 10rem;
}

@media (min-width:768px){
    .botones {
        display: flex;
        justify-content: space-between;
        width: 40%;
        margin: 5rem auto;
    }
}
span {
    color: white;
}